=render 'merchant/merchant_header'
.box-2
  %table.table.table-striped
    %thead
      %tr(style="height:60px;")
        %td(style="background:#E0E0E0;" )
          基本信息
        %td
          =link_to '菜品管理'

